.loader {
    width: 30px;
    height: 30px;
    border: 6px solid #ccc;
    border-radius: 50%;
    border-top: 6px solid #8a2b06;
    animation: Spinning 2s infinite linear;
}

@keyframes Spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
